@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-card-image .card.image-full:before {
    border-radius: 0.5rem;
    opacity: 0.45;
}

html {
    height: 100%;
    color: aqua;
}
/* #root {
    height: 100%;
} */
